$mediaXl: "(min-width:1200px)";
$mediaL: "(min-width:992px) and (max-width:1199.98px)";
$mediaM: "(min-width:768px) and (max-width: 991.98px)";
$mediaS: "(max-width: 767.98px)";
$mediaXs: "(max-width: 575.98px)";
$font: "open sans", sans-serif;
$transition: all 0.5s ease-in-out;
$mainColor: #d0a97e;
$textColor: #c4c4c4;
$linkColor: #d8d8d8;
$boxShadow: 0px 3px 5px 2px #efefefe6;
$spacing: 1.2px;
$secFont: "Oswald", sans-serif;
